/*Universal styles*/
body{
	width: 640px;
	background: white;
}

/*Global styles*/
a:link{
	color:#D92F0E;
	text-decoration: none;
}
a:visited{
	color:#971F08;
	text-decoration: none;
}
a:hover{
	color:#4A22DD;
	text-decoration: underline;
}

/*Local styles*/
a.footer-copyright:link{
	color: #002244;
}
a.footer-copyright:visited{
	color: #002244;
}
a.footer-copyright:hover{
	color: #002244;
}

a.footer-link{
	margin-left: 40px;
}
a.footer-link:link{
	color: #FFFFFF;
}
a.footer-link:visited{
	color: #FFFFFF;
}
a.footer-link:hover{
	color: #FFFFFF;
}

div.footer-copyright{
	color: #002244;
	font-size: 7pt;
}

table.footer-link{
	background: #001144;
	color: #FFFFFF;
	font-size: 9pt;
	font-weight: bold;
	border-width: 0px;
}

table#header{
	border-spacing: 0px;
	border-color: #000000;
	border-width: 0px;
	border-spacing: 0px;
}

table.header-links{
	border-spacing: 2px;
	border-color: #000000;
}

td.header{
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: 9pt;
}

td.header-links{
	background: #BBCCDD;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
}
td.header-links:hover{
	background: #CCDDEE;
}

td.titlecell{
	background: #001144;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
}

td.fontcell{
	background: #001144;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
}
td.fontcell:hover{
	background: #334477;
}

td.infocell{
	background: #CCCCFF;
	color: #002244;
	font-size: 10pt;
}

td.word-header{
	background: #110066;
	padding: 8px;
}

td.word-info{
	background: #BBAAFF;
	color: #000044;
}

td.word-info-title{
	background: #BBAAFF;
	color: #000044;
	width: 140px;
}

ul.basic-inline{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
}

div.section-title{
	background: #e0e0ff;
	width: 100%;
	border-bottom: 1px double #002244;
}
div.subsection-title{
	background: #eeeeff;
	width: 100%;
	border: 1px solid #333333;
}

.text-basic{
	color: #002244;
	font-size: 9pt;
}

.text-basic-bold{
	color: #002244;
	font-size: 9pt;
	font-weight: bold;
}

.text-huge{
	color: #002244;
	font-size: 12pt;
}

.text-large{
	color: #002244;
	font-size: 11pt;
}

.text-small{
	color: #002244;
	font-size: 8pt;
}

.text-title{
	color: #002244;
	font-weight: bold;
	font-size: 12pt;
}

.text-title-small{
	color: #002244;
	font-weight: bold;
	font-size: 10pt;
}

.word-text-subtitle{
	font-size: 12pt;
	color: #FFFFFF;
	font-weight: bold;
}

.word-text-title{
	font-size: 32pt;
	font-family: "Hymmnos";
	color: #FFFFFF;
	font-weight: bold;
}

.word-text-title-expanded{
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
}

.word-text-related-description{
	font-size: 9pt;
}

.word-text-school-usage{
	font-size: 10pt;
}
