/*Universal styles*/
body{
	width: 640px;
	background: white;
}

/*Global styles*/
a:link{
	color:#D92F0E;
	text-decoration: none;
}
a:visited{
	color:#971F08;
	text-decoration: none;
}
a:hover{
	color:#4A22DD;
	text-decoration: underline;
}

/*Local styles*/
a.footer-copyright:link{
	color: #002244;
}
a.footer-copyright:visited{
	color: #002244;
}
a.footer-copyright:hover{
	color: #002244;
}

a.footer-link{
	margin-left: 40px;
}
a.footer-link:link{
	color: #FFFFFF;
}
a.footer-link:visited{
	color: #FFFFFF;
}
a.footer-link:hover{
	color: #FFFFFF;
}

div.footer-copyright{
	color: #002244;
	font-size: 7pt;
}

table.footer-link{
	background: #001144;
	color: #FFFFFF;
	font-size: 9pt;
	font-weight: bold;
	border-width: 0px;
}

table#header{
	border-spacing: 0px;
	border-color: #000000;
	border-width: 0px;
	border-spacing: 0px;
}

table.header-links{
	border-spacing: 2px;
	border-color: #000000;
}

td.header{
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: 9pt;
}

td.header-links{
	background: #BBCCDD;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
}
td.header-links:hover{
	background: #CCDDEE;
}

td.titlecell{
	background: #001144;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
}

td.fontcell{
	background: #001144;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
}
td.fontcell:hover{
	background: #334477;
}

td.infocell{
	background: #CCCCFF;
	color: #002244;
	font-size: 10pt;
}

td.data-header-blue{
	font-size: 0.9em;
	color: #001144;
	background: #aaaadd;
	font-weight: bold;
}
td.data-cell-blue{
	font-size: 0.9em;
	color: #001144;
	background: #ccccff;
}

td.server-header{
	background: #aaddaa;
	font-weight: bold;
	font-size: 0.9em;
	color: #001144;
}
td.server-data{
	background: #ccffcc;
	font-size: 0.9em;
	color: #001144;
}

td.word-header{
	padding: 8px;
}
td.word-header-0{
	background: black;
}
td.word-header-1{
	background: #660000;
}
td.word-header-2{
	background: #440022;
}
td.word-header-3{
	background: #440044;
}
td.word-header-4{
	background: #000066;
}
td.word-header-5{
	background: #002200;
}
td.word-header-6{
	background: #002200;
}
td.word-header-7{
	background: #005500;
}
td.word-header-8{
	background: #440066;
}
td.word-header-9{
	background: #444444;
}
td.word-header-10{
	background: #444444;
}
td.word-header-11{
	background: #444444;
}
td.word-header-12{
	background: #002200;
}
td.word-header-13{
	background: #004400;
}
td.word-header-14{
	background: #006600;
}
td.word-header-15{
	background: #220066;
}
td.word-header-16{
	background: #002200;
}
td.word-header-18{
	background: #111111;
}
td.word-header-19{
	background: #444444;
}
td.word-header-20{
	background: #444444;
}

td.word-info{
	background: #ffbbcc;
	color: #000044;
}

td.word-info-title{
	background: #ffbbcc;
	color: #000044;
	width: 120px;
}

th.result-header{
	color: white;
	background: #110044;
	font-weight: bold;
	font-size: 0.9em;
}
td.result-cell{
	color: #110044;
	font-size: 0.8em;
}
td.result-school-0{
	background: #cccccc;
}
td.result-school-1{
	background: #ffcccc;
}
td.result-school-2{
	background: #cceecc;
}
td.result-school-3{
	background: #ccccff;
}
td.result-school-4{
	background: #ffddff;
}
td.result-school-5{
	background: #cceeff;
}
td.result-school-6{
	background: #ffeecc;
}
td.result-school-7{
	background: #ffccff;
}
td.result-school-50{
	background: #aaaaaa;
}
td.result-school-51{
	background: #ddaaaa;
}
td.result-school-52{
	background: #aaccaa;
}
td.result-school-53{
	background: #aaaadd;
}
td.result-school-54{
	background: #ddaadd;
}
td.result-school-55{
	background: #aaccdd;
}
td.result-school-56{
	background: #ddccaa;
}
td.result-school-57{
	background: #ddaadd;
}

ul.basic-inline{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
}

div.section-title{
	background: #e0e0ff;
	width: 100%;
	border-bottom: 2px solid #002244;
}
div.subsection-title{
	background: #eeeeff;
	width: 100%;
	border-left: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

.text-basic{
	color: #002244;
	font-size: 9pt;
}

.text-basic-bold{
	color: #002244;
	font-size: 9pt;
	font-weight: bold;
}

.text-huge{
	color: #002244;
	font-size: 12pt;
}

.text-large{
	color: #002244;
	font-size: 11pt;
}

.text-small{
	color: #002244;
	font-size: 8pt;
}

.text-title{
	color: #002244;
	font-weight: bold;
	font-size: 12pt;
}

.text-title-small{
	color: #002244;
	font-weight: bold;
	font-size: 10pt;
}

.word-text-subtitle{
	font-size: 14pt;
	color: #FFFFFF;
}

.word-text-title{
	font-size: 34pt;
	font-family: Hymmnos;
	color: #FFFFFF;
}

.word-text-title-expanded{
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
}

.word-text-related-description{
	font-size: 9pt;
}

.word-text-school-usage{
	font-size: 10pt;
}
