A:link {color:#D92F0E ; text-decoration: none}

A:visited {color:#971F08 ; text-decoration: none}

A:hover {color:#4A22DD; text-decoration: underline}

body{scrollbar-face-color:#FFFFEE;scrollbar-base-color:#A61F3C;scrollbar-highlight-color:#FFFFEE;scrollbar-darkshadow-color:#FFFFEE;scrollbar-arrow-color:#A61F3C;; color: #692C04}

.font0 {FONT-SIZE: 2.5mm; LINE-HEIGHT: 10px}

.font1 {FONT-SIZE: 3mm; LINE-HEIGHT: 12px}

.font2 {FONT-SIZE: 14px; LINE-HEIGHT: 16px}

.font3 {FONT-SIZE: 16px; LINE-HEIGHT: 18px}

.font4 {FONT-SIZE: 18px; LINE-HEIGHT: 20px}

.font5 {FONT-SIZE: 20px; LINE-HEIGHT: 25px}

.fonts {FONT-SIZE: 3.6mm; LINE-HEIGHT: 4mm}

.fonts0 {FONT-SIZE: 2.3mm; LINE-HEIGHT: 2.8mm}

.fonts1 {FONT-SIZE: 2.8mm; LINE-HEIGHT: 3.2mm}

.fonts2 {font-size: 3.2mm; line-height: 3.5mm}

.fonts3 {font-size: 3.4mm; line-height: 3.8mm}

.fonts4 {font-size: 3.8mm; line-height: 4.2mm}

.fontm1 {font-size: 4.5mm; line-height: 4.8mm}

.title {font-size: 5mm; line-height: 5.2mm; font-weight: bold}

.title1 {FONT-SIZE:25px; LINE-HEIGHT: 24px ; FONT-WEIGHT:bold}

.title2 {FONT-SIZE:14px; LINE-HEIGHT: 16px ; FONT-WEIGHT:bold}

.table1 {border-width:0px 0px 3px 3px ; border-style:solid ; border-color:#334455 ; WIDTH:400; HEIGHT:26 ; float:top ; margin-top:0px ; margin-left:4px ; PADDING:6px 4px 2px 8px}

.table2 {border-width:0px 0px 2px 2px ; border-style:solid ; border-color:#334455 ; WIDTH:384; HEIGHT:26 ; float:bottom ; margin-top:0px ; margin-left:20px ; PADDING:6px 0px 0px 4px}

.table3 {border-width:0px ; WIDTH:376; HEIGHT:26 ; float:bottom ; margin-top:1px ; margin-left:28px ; PADDING:6px 4px 2px 4px}

.table4 {border-width:2px 0px 2px 2px ; border-style:solid ; border-color:#334455 ; WIDTH:384; HEIGHT:26 ; float:bottom ; margin-top:1px ; margin-left:20px ; PADDING:6px 0px 0px 6px}

.bigtitle {font-size: 8mm; line-height: 8.4mm; font-weight: bold}

.fontsBBS2 {font-size: 3.2mm; line-height: 3.4mm}

.font00 {  font-size: 3.2mm; line-height: 4.2mm}

.fontP1 {FONT-SIZE: 12px; LINE-HEIGHT: 14px}

